/* ┌─────────────────────────────────────────┐
   │ @01 商品詳細                        │
   └─────────────────────────────────────────┘ */

/* 商品詳細ブロック */
.product_detail {
  background-color: white;
}

/* タイトル */
.product_name {
  margin-left: 10rem;
  font-size: 5rem;
  margin-bottom: 2rem;
}

/* 画像と説明文【flex 横2列: 画像 + テキスト側】 */
.product_inner {
  display: flex;
}

/* └ 画像（左） */
.product_detail_img {
  margin-left: 10rem;
  width: 45%;
  height: auto;
}

/* └ テキスト側（右） */
.product_detail_info {
  margin-left: 10rem;
  margin-bottom: 10rem;
}

.product_detail_title {
  font-size: 3rem;
  margin-bottom: 5rem;
}

/* 価格 */
.product_detail_price {
  margin-bottom: 10rem;
  font-size: 3rem;
}

/* 説明文 */
.product_detail_description {
  margin-bottom: 10rem;
  font-size: 3rem;
}

/* カートに入れるボタン */
.product_detail_button {
  border: 1px solid orange;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background-color: orange;
}
